<link rel="stylesheet" href="/sources/css/bootstrap.min.css" />
<link rel="stylesheet" href="/sources/css/fontawesome.css" />
<link rel="stylesheet" href="/sources/css/animate.css" />
<link rel="stylesheet" href="/sources/css/main.css" />
